.tooltip {
    position: absolute;
    top: 0;
    left: 0;
    background-color: lightblue;
    padding: 15px;
    transform: translateX(-50%) translateY(-100%);
    border-radius: 15px;
}

.tooltip .tooltipArrow {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(45deg) ;
    padding: 10px;
    background-color: lightblue;
    z-index: -1;
}

.hidden {
    visibility: hidden;;
}